
.superstition-view-content {
    font-size: 0.9em;
}

.superstition-container h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.superstition-container h3 {
    font-size: 1.1em;
    margin-top: 1em;
}

.superstition-container div {
    font-size: 0.9em;
    margin: 0.3em 0;
}

